services:
  backend:
    image: node:latest
    working_dir: /app/video-game-collection-api
    volumes:
      - ./video-game-collection-api:/app/video-game-collection-api
    command: sh -c "npm install --include=dev && npm run build && node dist/server.js"
    environment:
      - PORT=3000
      - DB_HOST=db
      - DB_PORT=5432
      - DB_USER=user
      - DB_PASSWORD=password
      - DB_NAME=mydatabase
      - NODE_ENV=production
    ports:
      - 127.0.0.1:3000:3000
    depends_on:
      - db

  db:
    image: postgres:17
    environment:
      - POSTGRES_USER=user
      - POSTGRES_PASSWORD=password
      - POSTGRES_DB=mydatabase
    volumes:
      - db_data:/var/lib/postgresql/data
    ports:
      - "5432:5432"

volumes:
  db_data: {}
